
/* Blog List Items */

.blog .blog-list{
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    padding:10px; 
}

.blog .blog-list .blog-list-items {
    width: 20%;
    padding: 8px;
    margin: 20px 20px 20px 20px;
    box-shadow: 4px 5px 20px 2px gray;
    border-radius: 10px;
    background-color: white;
}

.blog .blog-list .blog-list-items .blog-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.blog .blog-list .blog-list-items .blog-content {
    padding: 0;
}

.blog .blog-list .btn-group {
    margin: 10px 10px;
    text-align: center;
}

.blog .blog-list .btn-group .btn-edit{
    padding: 5px 27px;
    border: 0;
    border-radius: 10px;
    background: black;
    color: white;
    margin-right: 7px;
}

.blog .blog-list .btn-group .btn-post{
    padding: 5px 27px;
    border: 0;
    border-radius: 10px;
    background: black;
    color: white;
    margin-left: 7px;
}

.blog .blog-list h1 a{
    margin-left: 0;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:capitalize;
    font-size: 18px;
}

.blog .blog-list .detail-blog {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.blog .blog-list .blog-list-items .blog-content {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10px;
}
.blog .blog-list-items .bahasaProgram{
    font-size: 28px;
    text-align: center;
    margin: 5px 0px 5px 0px;
}
.blog .blog-list-items .blog-content .isi h2{
    font-size: 15px;
    font-weight:600;
    color: black;
    text-align: justify;
}

.blog .blog-list p {
    margin: 8px 8px 8px 0px;
    font-size: 13px;
    line-height: 10px;
    text-align: justify;
}
.hamburgerMenu{
    margin-right: 0px;
    text-align: center; 
    width: 100%;
    margin-top: 72px;
}
.hamburgerMenu h1{
    background-color:white;
    margin: 0px;
    padding: 10px;
}
.hamburgerMenu h1 a{
    text-decoration: none;
    color: black;
    font-size: 22px;    
}

.hide{
    display: none;
}
.hamburger-button{
    display: none;
}

@media only screen and (max-width: 600px) {
    .blog .blog-list .blog-list-items {
        width: 35%;
        padding: 10px;
    }
    
    .blog .blog-form .form-container{
        margin: 0px;
        padding: 100px;
    }
}