.container{
 margin: 100px;
}
.container h1{
    text-align: center;
    margin: 50px;

}
.container p{
    text-align: justify;
    font-size: 17px;
}

.card{
    display: flex;
    gap: 150px;
    justify-content: center;
}
.card img{
    width: 400px;
    height: 500px;
}
.teknologi i{
    font-size: 50px;
    margin: 10px;
}
@media only screen and (max-width: 600px) {
  .deskripsi{
    flex-direction: column;
  }
    
}